node_modules
node_modules/*
node_modules/
*.sublime-workspace
.DS_Store
**/.DS_Store
*.swp
**/test/out/

/_cache
/.artifacts
/dist
dist
views/*
*\build.js
dist/
.vscode
/coverage
/.nyc_output
/mocha.json

*.code-workspace
.scannerwork
.idea
.idea/
*.d.ts
*.js
*.js.map
*.utest.js
